
@function increaseSpecificity($number) {
  $increment: '';
  $increaser: #{&};
  @if ($number == 10) {
    @return '';
  } @else {
    @for $i from 1 through (($number / 10) - 1) {
      $increment: $increment + $increaser;
    }
    @return $increment;
  }
}

@mixin specificity($level) {
  &#{increaseSpecificity($level)} {
    @content;
  }
}

.test {
  @include specificity(10) {
    color: blue;
  }
}

