/* prettier-ignore */
/*
  * For IE 10 & 11
*/
.u-elevation-1.u-elevation-1 {
  box-shadow: 1px 1px 4px 0px #c8cdd0; }

.u-elevation-2.u-elevation-2 {
  box-shadow: 2px 2px 5px 0px #c8cdd0; }

.u-elevation-3.u-elevation-3 {
  box-shadow: 3px 3px 6px 0px #c8cdd0; }

.u-elevation-4.u-elevation-4 {
  box-shadow: 4px 4px 7px 0px #c8cdd0; }

.u-elevation-5.u-elevation-5 {
  box-shadow: 5px 5px 8px 0px #c8cdd0; }

.u-elevation-6.u-elevation-6 {
  box-shadow: 6px 6px 9px 0px #c8cdd0; }

.u-elevation-7.u-elevation-7 {
  box-shadow: 7px 7px 10px 0px #c8cdd0; }

.u-elevation-8.u-elevation-8 {
  box-shadow: 8px 8px 11px 0px #c8cdd0; }

.u-elevation-9.u-elevation-9 {
  box-shadow: 9px 9px 12px 0px #c8cdd0; }

.u-elevation-10.u-elevation-10 {
  box-shadow: 10px 10px 13px 0px #c8cdd0; }

/*
  * This will create font weights 200-900 as a utility class
  * as a `u-font-[number]
*/
/*
  * This will create a `margin: 0 !important;` rule as well
  * as a `margin-[top|right|bottom|left]: 0;`
*/
/*
  * This will create paddings 5-50 as
  * `padding-[top|right|bottom|left]: #;`
*/
/*
  * To calculate ideal size of rems even if root font size is not set
*/
/*
 * Creates spacers from 5-50 incremented by 5
 * Custom classes can be used by using the syntax:
 * @include spacers($other: #); ***:`#` is a custom number:***
*/
/*
  * To calculate ideal size of rems even if root font size is not set
*/
.c-heading-h1 {
  font-size: 24px; }

.c-heading-h2 {
  font-size: 22px; }

.c-heading-h3 {
  font-size: 22px; }

.c-heading-h4 {
  font-size: 18px; }

.c-heading-h5 {
  font-size: 16px; }

p,
.c-site-content__text {
  font-size: 14px; }

/*
  * This will create font sizes 8-22 even numbers only and class names
  * as such
*/
.u-right.u-right {
  float: right; }

.u-left.u-left {
  float: left; }

.u-elevation-1.u-elevation-1 {
  box-shadow: 1px 1px 4px 0px #c8cdd0; }

.u-elevation-2.u-elevation-2 {
  box-shadow: 2px 2px 5px 0px #c8cdd0; }

.u-elevation-3.u-elevation-3 {
  box-shadow: 3px 3px 6px 0px #c8cdd0; }

.u-elevation-4.u-elevation-4 {
  box-shadow: 4px 4px 7px 0px #c8cdd0; }

.u-elevation-5.u-elevation-5 {
  box-shadow: 5px 5px 8px 0px #c8cdd0; }

.u-elevation-6.u-elevation-6 {
  box-shadow: 6px 6px 9px 0px #c8cdd0; }

.u-elevation-7.u-elevation-7 {
  box-shadow: 7px 7px 10px 0px #c8cdd0; }

.u-elevation-8.u-elevation-8 {
  box-shadow: 8px 8px 11px 0px #c8cdd0; }

.u-elevation-9.u-elevation-9 {
  box-shadow: 9px 9px 12px 0px #c8cdd0; }

.u-elevation-10.u-elevation-10 {
  box-shadow: 10px 10px 13px 0px #c8cdd0; }

.u-font-extra-light.u-font-extra-light {
  font-weight: 200; }

.u-font-light.u-font-light {
  font-weight: 300; }

.u-font-regular.u-font-regular {
  font-weight: 400; }

.u-font-semi-bold.u-font-semi-bold {
  font-weight: 600; }

.u-font-bold.u-font-bold {
  font-weight: 700; }

.u-font-black.u-font-black {
  font-weight: 900; }

.u-margin-0.u-margin-0 {
  margin: 0 !important; }

.u-margin-top-0.u-margin-top-0 {
  margin-top: 0px; }

.u-margin-block-0.u-margin-block-0 {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-top: 0px;
  margin-bottom: 0px; }

.u-margin-top-5.u-margin-top-5 {
  margin-top: 5px; }

.u-margin-block-5.u-margin-block-5 {
  margin-block-start: 5px;
  margin-block-end: 5px;
  margin-top: 5px;
  margin-bottom: 5px; }

.u-margin-top-10.u-margin-top-10 {
  margin-top: 10px; }

.u-margin-block-10.u-margin-block-10 {
  margin-block-start: 10px;
  margin-block-end: 10px;
  margin-top: 10px;
  margin-bottom: 10px; }

.u-margin-top-15.u-margin-top-15 {
  margin-top: 15px; }

.u-margin-block-15.u-margin-block-15 {
  margin-block-start: 15px;
  margin-block-end: 15px;
  margin-top: 15px;
  margin-bottom: 15px; }

.u-margin-top-20.u-margin-top-20 {
  margin-top: 20px; }

.u-margin-block-20.u-margin-block-20 {
  margin-block-start: 20px;
  margin-block-end: 20px;
  margin-top: 20px;
  margin-bottom: 20px; }

.u-margin-top-25.u-margin-top-25 {
  margin-top: 25px; }

.u-margin-block-25.u-margin-block-25 {
  margin-block-start: 25px;
  margin-block-end: 25px;
  margin-top: 25px;
  margin-bottom: 25px; }

.u-margin-top-30.u-margin-top-30 {
  margin-top: 30px; }

.u-margin-block-30.u-margin-block-30 {
  margin-block-start: 30px;
  margin-block-end: 30px;
  margin-top: 30px;
  margin-bottom: 30px; }

.u-margin-top-35.u-margin-top-35 {
  margin-top: 35px; }

.u-margin-block-35.u-margin-block-35 {
  margin-block-start: 35px;
  margin-block-end: 35px;
  margin-top: 35px;
  margin-bottom: 35px; }

.u-margin-top-40.u-margin-top-40 {
  margin-top: 40px; }

.u-margin-block-40.u-margin-block-40 {
  margin-block-start: 40px;
  margin-block-end: 40px;
  margin-top: 40px;
  margin-bottom: 40px; }

.u-margin-top-45.u-margin-top-45 {
  margin-top: 45px; }

.u-margin-block-45.u-margin-block-45 {
  margin-block-start: 45px;
  margin-block-end: 45px;
  margin-top: 45px;
  margin-bottom: 45px; }

.u-margin-top-50.u-margin-top-50 {
  margin-top: 50px; }

.u-margin-block-50.u-margin-block-50 {
  margin-block-start: 50px;
  margin-block-end: 50px;
  margin-top: 50px;
  margin-bottom: 50px; }

.u-margin-bottom-0.u-margin-bottom-0 {
  margin-bottom: 0px; }

.u-margin-bottom-5.u-margin-bottom-5 {
  margin-bottom: 5px; }

.u-margin-bottom-10.u-margin-bottom-10 {
  margin-bottom: 10px; }

.u-margin-bottom-15.u-margin-bottom-15 {
  margin-bottom: 15px; }

.u-margin-bottom-20.u-margin-bottom-20 {
  margin-bottom: 20px; }

.u-margin-bottom-25.u-margin-bottom-25 {
  margin-bottom: 25px; }

.u-margin-bottom-30.u-margin-bottom-30 {
  margin-bottom: 30px; }

.u-margin-bottom-35.u-margin-bottom-35 {
  margin-bottom: 35px; }

.u-margin-bottom-40.u-margin-bottom-40 {
  margin-bottom: 40px; }

.u-margin-bottom-45.u-margin-bottom-45 {
  margin-bottom: 45px; }

.u-margin-bottom-50.u-margin-bottom-50 {
  margin-bottom: 50px; }

.u-margin-left-0.u-margin-left-0 {
  margin-left: 0px; }

.u-margin-inline-0.u-margin-inline-0 {
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-left: 0px;
  margin-right: 0px; }

.u-margin-all-0.u-margin-all-0 {
  margin: 0px; }

.u-margin-left-5.u-margin-left-5 {
  margin-left: 5px; }

.u-margin-inline-5.u-margin-inline-5 {
  margin-inline-start: 5px;
  margin-inline-end: 5px;
  margin-left: 5px;
  margin-right: 5px; }

.u-margin-all-5.u-margin-all-5 {
  margin: 5px; }

.u-margin-left-10.u-margin-left-10 {
  margin-left: 10px; }

.u-margin-inline-10.u-margin-inline-10 {
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  margin-left: 10px;
  margin-right: 10px; }

.u-margin-all-10.u-margin-all-10 {
  margin: 10px; }

.u-margin-left-15.u-margin-left-15 {
  margin-left: 15px; }

.u-margin-inline-15.u-margin-inline-15 {
  margin-inline-start: 15px;
  margin-inline-end: 15px;
  margin-left: 15px;
  margin-right: 15px; }

.u-margin-all-15.u-margin-all-15 {
  margin: 15px; }

.u-margin-left-20.u-margin-left-20 {
  margin-left: 20px; }

.u-margin-inline-20.u-margin-inline-20 {
  margin-inline-start: 20px;
  margin-inline-end: 20px;
  margin-left: 20px;
  margin-right: 20px; }

.u-margin-all-20.u-margin-all-20 {
  margin: 20px; }

.u-margin-left-25.u-margin-left-25 {
  margin-left: 25px; }

.u-margin-inline-25.u-margin-inline-25 {
  margin-inline-start: 25px;
  margin-inline-end: 25px;
  margin-left: 25px;
  margin-right: 25px; }

.u-margin-all-25.u-margin-all-25 {
  margin: 25px; }

.u-margin-left-30.u-margin-left-30 {
  margin-left: 30px; }

.u-margin-inline-30.u-margin-inline-30 {
  margin-inline-start: 30px;
  margin-inline-end: 30px;
  margin-left: 30px;
  margin-right: 30px; }

.u-margin-all-30.u-margin-all-30 {
  margin: 30px; }

.u-margin-left-35.u-margin-left-35 {
  margin-left: 35px; }

.u-margin-inline-35.u-margin-inline-35 {
  margin-inline-start: 35px;
  margin-inline-end: 35px;
  margin-left: 35px;
  margin-right: 35px; }

.u-margin-all-35.u-margin-all-35 {
  margin: 35px; }

.u-margin-left-40.u-margin-left-40 {
  margin-left: 40px; }

.u-margin-inline-40.u-margin-inline-40 {
  margin-inline-start: 40px;
  margin-inline-end: 40px;
  margin-left: 40px;
  margin-right: 40px; }

.u-margin-all-40.u-margin-all-40 {
  margin: 40px; }

.u-margin-left-45.u-margin-left-45 {
  margin-left: 45px; }

.u-margin-inline-45.u-margin-inline-45 {
  margin-inline-start: 45px;
  margin-inline-end: 45px;
  margin-left: 45px;
  margin-right: 45px; }

.u-margin-all-45.u-margin-all-45 {
  margin: 45px; }

.u-margin-left-50.u-margin-left-50 {
  margin-left: 50px; }

.u-margin-inline-50.u-margin-inline-50 {
  margin-inline-start: 50px;
  margin-inline-end: 50px;
  margin-left: 50px;
  margin-right: 50px; }

.u-margin-all-50.u-margin-all-50 {
  margin: 50px; }

.u-margin-right-0.u-margin-right-0 {
  margin-right: 0px; }

.u-margin-right-5.u-margin-right-5 {
  margin-right: 5px; }

.u-margin-right-10.u-margin-right-10 {
  margin-right: 10px; }

.u-margin-right-15.u-margin-right-15 {
  margin-right: 15px; }

.u-margin-right-20.u-margin-right-20 {
  margin-right: 20px; }

.u-margin-right-25.u-margin-right-25 {
  margin-right: 25px; }

.u-margin-right-30.u-margin-right-30 {
  margin-right: 30px; }

.u-margin-right-35.u-margin-right-35 {
  margin-right: 35px; }

.u-margin-right-40.u-margin-right-40 {
  margin-right: 40px; }

.u-margin-right-45.u-margin-right-45 {
  margin-right: 45px; }

.u-margin-right-50.u-margin-right-50 {
  margin-right: 50px; }

.u-padding-0.u-padding-0 {
  padding: 0 !important; }

.u-padding-top-0.u-padding-top-0 {
  padding-top: 0px; }

.u-padding-block-0.u-padding-block-0 {
  padding-block-start: 0px;
  padding-block-end: 0px;
  padding-top: 0px;
  padding-bottom: 0px; }

.u-padding-top-5.u-padding-top-5 {
  padding-top: 5px; }

.u-padding-block-5.u-padding-block-5 {
  padding-block-start: 5px;
  padding-block-end: 5px;
  padding-top: 5px;
  padding-bottom: 5px; }

.u-padding-top-10.u-padding-top-10 {
  padding-top: 10px; }

.u-padding-block-10.u-padding-block-10 {
  padding-block-start: 10px;
  padding-block-end: 10px;
  padding-top: 10px;
  padding-bottom: 10px; }

.u-padding-top-15.u-padding-top-15 {
  padding-top: 15px; }

.u-padding-block-15.u-padding-block-15 {
  padding-block-start: 15px;
  padding-block-end: 15px;
  padding-top: 15px;
  padding-bottom: 15px; }

.u-padding-top-20.u-padding-top-20 {
  padding-top: 20px; }

.u-padding-block-20.u-padding-block-20 {
  padding-block-start: 20px;
  padding-block-end: 20px;
  padding-top: 20px;
  padding-bottom: 20px; }

.u-padding-top-25.u-padding-top-25 {
  padding-top: 25px; }

.u-padding-block-25.u-padding-block-25 {
  padding-block-start: 25px;
  padding-block-end: 25px;
  padding-top: 25px;
  padding-bottom: 25px; }

.u-padding-top-30.u-padding-top-30 {
  padding-top: 30px; }

.u-padding-block-30.u-padding-block-30 {
  padding-block-start: 30px;
  padding-block-end: 30px;
  padding-top: 30px;
  padding-bottom: 30px; }

.u-padding-top-35.u-padding-top-35 {
  padding-top: 35px; }

.u-padding-block-35.u-padding-block-35 {
  padding-block-start: 35px;
  padding-block-end: 35px;
  padding-top: 35px;
  padding-bottom: 35px; }

.u-padding-top-40.u-padding-top-40 {
  padding-top: 40px; }

.u-padding-block-40.u-padding-block-40 {
  padding-block-start: 40px;
  padding-block-end: 40px;
  padding-top: 40px;
  padding-bottom: 40px; }

.u-padding-top-45.u-padding-top-45 {
  padding-top: 45px; }

.u-padding-block-45.u-padding-block-45 {
  padding-block-start: 45px;
  padding-block-end: 45px;
  padding-top: 45px;
  padding-bottom: 45px; }

.u-padding-top-50.u-padding-top-50 {
  padding-top: 50px; }

.u-padding-block-50.u-padding-block-50 {
  padding-block-start: 50px;
  padding-block-end: 50px;
  padding-top: 50px;
  padding-bottom: 50px; }

.u-padding-bottom-0.u-padding-bottom-0 {
  padding-bottom: 0px; }

.u-padding-bottom-5.u-padding-bottom-5 {
  padding-bottom: 5px; }

.u-padding-bottom-10.u-padding-bottom-10 {
  padding-bottom: 10px; }

.u-padding-bottom-15.u-padding-bottom-15 {
  padding-bottom: 15px; }

.u-padding-bottom-20.u-padding-bottom-20 {
  padding-bottom: 20px; }

.u-padding-bottom-25.u-padding-bottom-25 {
  padding-bottom: 25px; }

.u-padding-bottom-30.u-padding-bottom-30 {
  padding-bottom: 30px; }

.u-padding-bottom-35.u-padding-bottom-35 {
  padding-bottom: 35px; }

.u-padding-bottom-40.u-padding-bottom-40 {
  padding-bottom: 40px; }

.u-padding-bottom-45.u-padding-bottom-45 {
  padding-bottom: 45px; }

.u-padding-bottom-50.u-padding-bottom-50 {
  padding-bottom: 50px; }

.u-padding-left-0.u-padding-left-0 {
  padding-left: 0px; }

.u-padding-inline-0.u-padding-inline-0 {
  padding-inline-start: 0px;
  padding-inline-end: 0px;
  padding-left: 0px;
  padding-right: 0px; }

.u-padding-all-0.u-padding-all-0 {
  padding: 0px; }

.u-padding-left-5.u-padding-left-5 {
  padding-left: 5px; }

.u-padding-inline-5.u-padding-inline-5 {
  padding-inline-start: 5px;
  padding-inline-end: 5px;
  padding-left: 5px;
  padding-right: 5px; }

.u-padding-all-5.u-padding-all-5 {
  padding: 5px; }

.u-padding-left-10.u-padding-left-10 {
  padding-left: 10px; }

.u-padding-inline-10.u-padding-inline-10 {
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  padding-left: 10px;
  padding-right: 10px; }

.u-padding-all-10.u-padding-all-10 {
  padding: 10px; }

.u-padding-left-15.u-padding-left-15 {
  padding-left: 15px; }

.u-padding-inline-15.u-padding-inline-15 {
  padding-inline-start: 15px;
  padding-inline-end: 15px;
  padding-left: 15px;
  padding-right: 15px; }

.u-padding-all-15.u-padding-all-15 {
  padding: 15px; }

.u-padding-left-20.u-padding-left-20 {
  padding-left: 20px; }

.u-padding-inline-20.u-padding-inline-20 {
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  padding-left: 20px;
  padding-right: 20px; }

.u-padding-all-20.u-padding-all-20 {
  padding: 20px; }

.u-padding-left-25.u-padding-left-25 {
  padding-left: 25px; }

.u-padding-inline-25.u-padding-inline-25 {
  padding-inline-start: 25px;
  padding-inline-end: 25px;
  padding-left: 25px;
  padding-right: 25px; }

.u-padding-all-25.u-padding-all-25 {
  padding: 25px; }

.u-padding-left-30.u-padding-left-30 {
  padding-left: 30px; }

.u-padding-inline-30.u-padding-inline-30 {
  padding-inline-start: 30px;
  padding-inline-end: 30px;
  padding-left: 30px;
  padding-right: 30px; }

.u-padding-all-30.u-padding-all-30 {
  padding: 30px; }

.u-padding-left-35.u-padding-left-35 {
  padding-left: 35px; }

.u-padding-inline-35.u-padding-inline-35 {
  padding-inline-start: 35px;
  padding-inline-end: 35px;
  padding-left: 35px;
  padding-right: 35px; }

.u-padding-all-35.u-padding-all-35 {
  padding: 35px; }

.u-padding-left-40.u-padding-left-40 {
  padding-left: 40px; }

.u-padding-inline-40.u-padding-inline-40 {
  padding-inline-start: 40px;
  padding-inline-end: 40px;
  padding-left: 40px;
  padding-right: 40px; }

.u-padding-all-40.u-padding-all-40 {
  padding: 40px; }

.u-padding-left-45.u-padding-left-45 {
  padding-left: 45px; }

.u-padding-inline-45.u-padding-inline-45 {
  padding-inline-start: 45px;
  padding-inline-end: 45px;
  padding-left: 45px;
  padding-right: 45px; }

.u-padding-all-45.u-padding-all-45 {
  padding: 45px; }

.u-padding-left-50.u-padding-left-50 {
  padding-left: 50px; }

.u-padding-inline-50.u-padding-inline-50 {
  padding-inline-start: 50px;
  padding-inline-end: 50px;
  padding-left: 50px;
  padding-right: 50px; }

.u-padding-all-50.u-padding-all-50 {
  padding: 50px; }

.u-padding-right-0.u-padding-right-0 {
  padding-right: 0px; }

.u-padding-right-5.u-padding-right-5 {
  padding-right: 5px; }

.u-padding-right-10.u-padding-right-10 {
  padding-right: 10px; }

.u-padding-right-15.u-padding-right-15 {
  padding-right: 15px; }

.u-padding-right-20.u-padding-right-20 {
  padding-right: 20px; }

.u-padding-right-25.u-padding-right-25 {
  padding-right: 25px; }

.u-padding-right-30.u-padding-right-30 {
  padding-right: 30px; }

.u-padding-right-35.u-padding-right-35 {
  padding-right: 35px; }

.u-padding-right-40.u-padding-right-40 {
  padding-right: 40px; }

.u-padding-right-45.u-padding-right-45 {
  padding-right: 45px; }

.u-padding-right-50.u-padding-right-50 {
  padding-right: 50px; }

.u-spacer-5.u-spacer-5 {
  clear: both;
  height: 5px; }

.u-spacer-10.u-spacer-10 {
  clear: both;
  height: 10px; }

.u-spacer-15.u-spacer-15 {
  clear: both;
  height: 15px; }

.u-spacer-20.u-spacer-20 {
  clear: both;
  height: 20px; }

.u-spacer-25.u-spacer-25 {
  clear: both;
  height: 25px; }

.u-spacer-30.u-spacer-30 {
  clear: both;
  height: 30px; }

.u-spacer-35.u-spacer-35 {
  clear: both;
  height: 35px; }

.u-spacer-40.u-spacer-40 {
  clear: both;
  height: 40px; }

.u-spacer-45.u-spacer-45 {
  clear: both;
  height: 45px; }

.u-spacer-50.u-spacer-50 {
  clear: both;
  height: 50px; }

.u-text-right.u-text-right {
  text-align: right; }

.u-text-left.u-text-left {
  text-align: left; }

.u-text-center.u-text-center {
  text-align: center; }

.u-full-width {
  width: 100%; }

.c-heading-h1 {
  font-size: 24px; }

.c-heading-h2 {
  font-size: 22px; }

.c-heading-h3 {
  font-size: 22px; }

.c-heading-h4 {
  font-size: 18px; }

.c-heading-h5 {
  font-size: 16px; }

p,
.c-site-content__text {
  font-size: 14px; }

.u-align-self-start.u-align-self-start {
  align-self: flex-start; }

.u-align-self-end.u-align-self-end {
  align-self: flex-end; }

.u-align-self-center.u-align-self-center {
  align-self: center; }

.u-align-items-start.u-align-items-start {
  align-items: flex-start; }

.u-align-items-end.u-align-items-end {
  align-items: flex-end; }

.u-align-items-center.u-align-items-center {
  align-items: center; }

.u-font-size-8.u-font-size-8 {
  font-size: 8px; }

.u-font-size-10.u-font-size-10 {
  font-size: 10px; }

.u-font-size-12.u-font-size-12 {
  font-size: 12px; }

.u-font-size-14.u-font-size-14 {
  font-size: 14px; }

.u-font-size-16.u-font-size-16 {
  font-size: 16px; }

.u-font-size-18.u-font-size-18 {
  font-size: 18px; }

.u-font-size-20.u-font-size-20 {
  font-size: 20px; }

.u-font-size-22.u-font-size-22 {
  font-size: 22px; }

.u-text-transform-none.u-text-transform-none {
  text-transform: none; }

.u-text-transform-capitalize.u-text-transform-capitalize {
  text-transform: capitalize; }

.u-text-transform-uppercase.u-text-transform-uppercase {
  text-transform: uppercase; }

.u-text-transform-lowercase.u-text-transform-lowercase {
  text-transform: lowercase; }

.u-text-transform-full-width.u-text-transform-full-width {
  text-transform: full-width; }

.u-padding-top-small.u-padding-top-small {
  padding-top: 15px; }

.u-padding-block-small.u-padding-block-small {
  margin-block-start: 15px;
  margin-block-end: 15px;
  margin-top: 15px;
  margin-bottom: 15px; }

.u-padding-bottom-small.u-padding-bottom-small {
  padding-bottom: 15px; }

.u-padding-right-small.u-padding-right-small {
  padding-right: 15px; }

.u-padding-left-small.u-padding-left-small {
  padding-left: 15px; }

.u-padding-inline-small.u-padding-inline-small {
  margin-inline-start: 15px;
  margin-inline-end: 15px;
  margin-left: 15px;
  margin-right: 15px; }

.u-padding-top-medium.u-padding-top-medium {
  padding-top: 30px; }

.u-padding-block-medium.u-padding-block-medium {
  margin-block-start: 30px;
  margin-block-end: 30px;
  margin-top: 30px;
  margin-bottom: 30px; }

.u-padding-bottom-medium.u-padding-bottom-medium {
  padding-bottom: 30px; }

.u-padding-right-medium.u-padding-right-medium {
  padding-right: 30px; }

.u-padding-left-medium.u-padding-left-medium {
  padding-left: 30px; }

.u-padding-inline-medium.u-padding-inline-medium {
  margin-inline-start: 30px;
  margin-inline-end: 30px;
  margin-left: 30px;
  margin-right: 30px; }

.u-padding-top-large.u-padding-top-large {
  padding-top: 45px; }

.u-padding-block-large.u-padding-block-large {
  margin-block-start: 45px;
  margin-block-end: 45px;
  margin-top: 45px;
  margin-bottom: 45px; }

.u-padding-bottom-large.u-padding-bottom-large {
  padding-bottom: 45px; }

.u-padding-right-large.u-padding-right-large {
  padding-right: 45px; }

.u-padding-left-large.u-padding-left-large {
  padding-left: 45px; }

.u-padding-inline-large.u-padding-inline-large {
  margin-inline-start: 45px;
  margin-inline-end: 45px;
  margin-left: 45px;
  margin-right: 45px; }

.u-padding-top-x-large.u-padding-top-x-large {
  padding-top: 60px; }

.u-padding-block-x-large.u-padding-block-x-large {
  margin-block-start: 60px;
  margin-block-end: 60px;
  margin-top: 60px;
  margin-bottom: 60px; }

.u-padding-bottom-x-large.u-padding-bottom-x-large {
  padding-bottom: 60px; }

.u-padding-right-x-large.u-padding-right-x-large {
  padding-right: 60px; }

.u-padding-left-x-large.u-padding-left-x-large {
  padding-left: 60px; }

.u-padding-inline-x-large.u-padding-inline-x-large {
  margin-inline-start: 60px;
  margin-inline-end: 60px;
  margin-left: 60px;
  margin-right: 60px; }

.u-margin-top-small.u-margin-top-small {
  margin-top: 15px; }

.u-margin-block-small.u-margin-block-small {
  margin-block-start: 15px;
  margin-block-end: 15px;
  margin-top: 15px;
  margin-bottom: 15px; }

.u-margin-bottom-small.u-margin-bottom-small {
  margin-bottom: 15px; }

.u-margin-right-small.u-margin-right-small {
  margin-right: 15px; }

.u-margin-left-small.u-margin-left-small {
  margin-left: 15px; }

.u-margin-inline-small.u-margin-inline-small {
  margin-inline-start: 15px;
  margin-inline-end: 15px;
  margin-left: 15px;
  margin-right: 15px; }

.u-margin-top-medium.u-margin-top-medium {
  margin-top: 30px; }

.u-margin-block-medium.u-margin-block-medium {
  margin-block-start: 30px;
  margin-block-end: 30px;
  margin-top: 30px;
  margin-bottom: 30px; }

.u-margin-bottom-medium.u-margin-bottom-medium {
  margin-bottom: 30px; }

.u-margin-right-medium.u-margin-right-medium {
  margin-right: 30px; }

.u-margin-left-medium.u-margin-left-medium {
  margin-left: 30px; }

.u-margin-inline-medium.u-margin-inline-medium {
  margin-inline-start: 30px;
  margin-inline-end: 30px;
  margin-left: 30px;
  margin-right: 30px; }

.u-margin-top-large.u-margin-top-large {
  margin-top: 45px; }

.u-margin-block-large.u-margin-block-large {
  margin-block-start: 45px;
  margin-block-end: 45px;
  margin-top: 45px;
  margin-bottom: 45px; }

.u-margin-bottom-large.u-margin-bottom-large {
  margin-bottom: 45px; }

.u-margin-right-large.u-margin-right-large {
  margin-right: 45px; }

.u-margin-left-large.u-margin-left-large {
  margin-left: 45px; }

.u-margin-inline-large.u-margin-inline-large {
  margin-inline-start: 45px;
  margin-inline-end: 45px;
  margin-left: 45px;
  margin-right: 45px; }

.u-margin-top-x-large.u-margin-top-x-large {
  margin-top: 60px; }

.u-margin-block-x-large.u-margin-block-x-large {
  margin-block-start: 60px;
  margin-block-end: 60px;
  margin-top: 60px;
  margin-bottom: 60px; }

.u-margin-bottom-x-large.u-margin-bottom-x-large {
  margin-bottom: 60px; }

.u-margin-right-x-large.u-margin-right-x-large {
  margin-right: 60px; }

.u-margin-left-x-large.u-margin-left-x-large {
  margin-left: 60px; }

.u-margin-inline-x-large.u-margin-inline-x-large {
  margin-inline-start: 60px;
  margin-inline-end: 60px;
  margin-left: 60px;
  margin-right: 60px; }

.u-spacer-small.u-spacer-small {
  clear: both;
  height: 15px; }

.u-margin-all-small.u-margin-all-small {
  margin: 15px; }

.u-padding-all-small.u-padding-all-small {
  padding: 15px; }

.u-spacer-medium.u-spacer-medium {
  clear: both;
  height: 30px; }

.u-margin-all-medium.u-margin-all-medium {
  margin: 30px; }

.u-padding-all-medium.u-padding-all-medium {
  padding: 30px; }

.u-spacer-large.u-spacer-large {
  clear: both;
  height: 45px; }

.u-margin-all-large.u-margin-all-large {
  margin: 45px; }

.u-padding-all-large.u-padding-all-large {
  padding: 45px; }

.u-spacer-x-large.u-spacer-x-large {
  clear: both;
  height: 60px; }

.u-margin-all-x-large.u-margin-all-x-large {
  margin: 60px; }

.u-padding-all-x-large.u-padding-all-x-large {
  padding: 60px; }
