// For item alignment with a flex container
@mixin flexAlignItems {
  $elementAlignment: (
    start,
    end,
    center,
  );
  @each $alignment in $elementAlignment {
    @if $alignment == start or $alignment == end {
      .u-align-items-#{$alignment} {
        &#{&} {
          align-items: flex-#{$alignment};
        }
      }
    } @else {
      .u-align-items-#{$alignment} {
        &#{&} {
          align-items: $alignment;
        }
      }
    }
  }
}

