@mixin fontColor($primary: #367bb2, $accent: #65a844, $warn: #cc4c40, $normal: #555) {
  $colors: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    normal: $normal,
  );
  @each $color, $colorValue in $colors {
    .u-font-color-#{$color} {
      &#{&} {
        color: $colorValue;
      }
    }
  }
}

@include fontColor;
