/*
  * This will create font sizes 8-22 even numbers only and class names
  * as such
*/

@use 'sass:map';
@use '../config' as CONFIG;

@mixin fontSizes(
  $_start: map.get(CONFIG.$FONT_SIZE_INTERNAL, 'start'),
  $_end: map.get(CONFIG.$FONT_SIZE_INTERNAL, 'end'),
  $_maxSize: map.get(CONFIG.$FONT_SIZE_INTERNAL, 'maxSize'),
) {
  @for $i from $_start through $_maxSize {
    @if ($i % 2 == 0) {
      .u-font-size-#{$i} {
        &#{&} {
          font-size: #{$i}px;
        }
      }
    }
  }
}
