/*
  * This will create font sizes 8-22 even numbers only and class names
  * as such
*/

@use 'sass:map';
@use '../config/config' as CONFIG;

@mixin fontSizes(
  $start: map.get(CONFIG.$FONT_SIZE, 'start'),
  $end: map.get(CONFIG.$FONT_SIZE, 'end'),
) {
  @for $i from $start through $end {
    @if ($i % 2 == 0) {
      .u-font-size-#{$i} {
        &#{&} {
          font-size: #{$i}px;
        }
      }
    }
  }
}
