$keywords: (
  small: 15,
  medium: 30,
  large: 45,
  x-large: 60,
);

$positions: (
  top,
  bottom,
  right,
  left,
);

$utilTypes: (
  padding,
  margin,
  spacer,
);

@mixin keywordSizes {
  @each $utilType in $utilTypes {
    @each $keyword, $size in $keywords {
      @if ($utilType == 'spacer') {
        .u-spacer-#{$keyword} {
          &#{&} {
            clear: both;
            height: #{$size}px;
          }
        }
        .u-margin-all-#{$keyword} {
          &#{&} {
            margin: #{$size}px;
          }
        }
        .u-padding-all-#{$keyword} {
          &#{&} {
            padding: #{$size}px;
          }
        }
      } @else {
        @each $position in $positions {
          .u-#{$utilType}-#{$position}-#{$keyword} {
            &#{&} {
              #{$utilType}-#{$position}: #{$size}px;
            }
          }
          @if ($position == 'top') {
            .u-#{$utilType}-block-#{$keyword} {
              &#{&} {
                #{$utilType}-block-start: #{$size}px;
                #{$utilType}-block-end: #{$size}px;
                #{$utilType}-top: #{$size}px;
                #{$utilType}-bottom: #{$size}px;
              }
            }
          } @else if ($position == 'left') {
            .u-#{$utilType}-inline-#{$keyword} {
              &#{&} {
                #{$utilType}-inline-start: #{$size}px;
                #{$utilType}-inline-end: #{$size}px;
                #{$utilType}-left: #{$size}px;
                #{$utilType}-right: #{$size}px;
              }
            }
          }
        }
      }
    }
  }
}
