/*
 * Creates spacers from 5-50 incremented by 5
 * Custom classes can be used by using the syntax:
 * @include spacers($other: #); ***:`#` is a custom number:***
*/

@use 'sass:map';
@use '../config/config' as CONFIG;

@mixin spacers(
  $start: map.get(CONFIG.$SPACERS, 'start'),
  $end: map.get(CONFIG.$SPACERS, 'end'),
  $multiplier: map.get(CONFIG.$SPACERS, 'multiplier'),
  $other: null,
) {
  @if ($other == null or $other == '') {
    @for $i from $start through $end {
      $value: $i * $multiplier;
      .u-spacer-#{$value} {
        &#{&} {
          clear: both;
          height: #{$value}px;
        }
      }
    }
  } @else {
    .u-spacer-#{$other} {
      &#{&} {
        clear: both;
        height: #{$other}px;
      }
    }
  }
}
