.u-padding-top-small.u-padding-top-small {
  padding-top: 15px;
}

.u-padding-block-small.u-padding-block-small {
  padding-block: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.u-padding-bottom-small.u-padding-bottom-small {
  padding-bottom: 15px;
}

.u-padding-right-small.u-padding-right-small {
  padding-right: 15px;
}

.u-padding-left-small.u-padding-left-small {
  padding-left: 15px;
}

.u-padding-inline-small.u-padding-inline-small {
  padding-inline: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.u-padding-top-medium.u-padding-top-medium {
  padding-top: 30px;
}

.u-padding-block-medium.u-padding-block-medium {
  padding-block: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.u-padding-bottom-medium.u-padding-bottom-medium {
  padding-bottom: 30px;
}

.u-padding-right-medium.u-padding-right-medium {
  padding-right: 30px;
}

.u-padding-left-medium.u-padding-left-medium {
  padding-left: 30px;
}

.u-padding-inline-medium.u-padding-inline-medium {
  padding-inline: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.u-padding-top-large.u-padding-top-large {
  padding-top: 45px;
}

.u-padding-block-large.u-padding-block-large {
  padding-block: 45px;
  padding-top: 45px;
  padding-bottom: 45px;
}

.u-padding-bottom-large.u-padding-bottom-large {
  padding-bottom: 45px;
}

.u-padding-right-large.u-padding-right-large {
  padding-right: 45px;
}

.u-padding-left-large.u-padding-left-large {
  padding-left: 45px;
}

.u-padding-inline-large.u-padding-inline-large {
  padding-inline: 45px;
  padding-left: 45px;
  padding-right: 45px;
}

.u-padding-top-x-large.u-padding-top-x-large {
  padding-top: 60px;
}

.u-padding-block-x-large.u-padding-block-x-large {
  padding-block: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.u-padding-bottom-x-large.u-padding-bottom-x-large {
  padding-bottom: 60px;
}

.u-padding-right-x-large.u-padding-right-x-large {
  padding-right: 60px;
}

.u-padding-left-x-large.u-padding-left-x-large {
  padding-left: 60px;
}

.u-padding-inline-x-large.u-padding-inline-x-large {
  padding-inline: 60px;
  padding-left: 60px;
  padding-right: 60px;
}

.u-margin-top-small.u-margin-top-small {
  margin-top: 15px;
}

.u-margin-block-small.u-margin-block-small {
  margin-block: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.u-margin-bottom-small.u-margin-bottom-small {
  margin-bottom: 15px;
}

.u-margin-right-small.u-margin-right-small {
  margin-right: 15px;
}

.u-margin-left-small.u-margin-left-small {
  margin-left: 15px;
}

.u-margin-inline-small.u-margin-inline-small {
  margin-inline: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.u-margin-top-medium.u-margin-top-medium {
  margin-top: 30px;
}

.u-margin-block-medium.u-margin-block-medium {
  margin-block: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.u-margin-bottom-medium.u-margin-bottom-medium {
  margin-bottom: 30px;
}

.u-margin-right-medium.u-margin-right-medium {
  margin-right: 30px;
}

.u-margin-left-medium.u-margin-left-medium {
  margin-left: 30px;
}

.u-margin-inline-medium.u-margin-inline-medium {
  margin-inline: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

.u-margin-top-large.u-margin-top-large {
  margin-top: 45px;
}

.u-margin-block-large.u-margin-block-large {
  margin-block: 45px;
  margin-top: 45px;
  margin-bottom: 45px;
}

.u-margin-bottom-large.u-margin-bottom-large {
  margin-bottom: 45px;
}

.u-margin-right-large.u-margin-right-large {
  margin-right: 45px;
}

.u-margin-left-large.u-margin-left-large {
  margin-left: 45px;
}

.u-margin-inline-large.u-margin-inline-large {
  margin-inline: 45px;
  margin-left: 45px;
  margin-right: 45px;
}

.u-margin-top-x-large.u-margin-top-x-large {
  margin-top: 60px;
}

.u-margin-block-x-large.u-margin-block-x-large {
  margin-block: 60px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-margin-bottom-x-large.u-margin-bottom-x-large {
  margin-bottom: 60px;
}

.u-margin-right-x-large.u-margin-right-x-large {
  margin-right: 60px;
}

.u-margin-left-x-large.u-margin-left-x-large {
  margin-left: 60px;
}

.u-margin-inline-x-large.u-margin-inline-x-large {
  margin-inline: 60px;
  margin-left: 60px;
  margin-right: 60px;
}

.u-spacer-small.u-spacer-small {
  clear: both;
  height: 15px;
}

.u-margin-all-small.u-margin-all-small {
  margin: 15px;
}

.u-padding-all-small.u-padding-all-small {
  padding: 15px;
}

.u-spacer-medium.u-spacer-medium {
  clear: both;
  height: 30px;
}

.u-margin-all-medium.u-margin-all-medium {
  margin: 30px;
}

.u-padding-all-medium.u-padding-all-medium {
  padding: 30px;
}

.u-spacer-large.u-spacer-large {
  clear: both;
  height: 45px;
}

.u-margin-all-large.u-margin-all-large {
  margin: 45px;
}

.u-padding-all-large.u-padding-all-large {
  padding: 45px;
}

.u-spacer-x-large.u-spacer-x-large {
  clear: both;
  height: 60px;
}

.u-margin-all-x-large.u-margin-all-x-large {
  margin: 60px;
}

.u-padding-all-x-large.u-padding-all-x-large {
  padding: 60px;
}

/*# sourceMappingURL=kwz.css.map */
